In [1]:
import psycopg2

In [3]:
conn = psycopg2.connect("dbname=test_db user=postgres password=Chuny217")

In [4]:
cur = conn.cursor()

In [25]:
cur.execute("SELECT * FROM cars")

In [26]:
records = cur.fetchall()

In [28]:
records

[('BWM', 21), ('AUDI', 18), ('Honda', 14)]

In [23]:
cur.execute("INSERT INTO cars (model, number) VALUES ('Honda', 14)")